


                                                                                /*HEADER*/
#LogoOMF {
    text-align: center;}
                                                                                /*FIN HEADER*/
                                                                                /*BODY*/
#bloc-page {
    max-width: 768px;}
#LogoOMF {
    align-self: center;}

#title {
    text-align: center;}
#search {
    height:40px;
    padding:0 20px 0 20px;
    background-color: rgb(182, 52, 182);
    color: white;
    border: none;
    border-radius: 20px;}

nav {
    text-align: center;}
li {
    align-items: center;
    list-style-type: none;}

.Tuiles {
    width: 90%;
    margin:auto;
    height:100px;
    border-radius: 10px;}
                                                                                /*FIN BODY*/

                                                                                /*PARAMETRE GENERAUX*/
a {
    text-decoration: none;
    color:#000;}
img {
    object-fit: cover;}

                                                                                /*FIN PARAMETRE GENERAUX*/

                                                                                /*SECTION*/


                                                                                /*FIN SECTION*/

                                                                                /*FOOTER*/
footer {
    width:100%;
    padding-left: 15px;
    background:black;
    color:white;}
                                                                                /*FIN FOOTER*/