@charset "UTF-8";
/*FUNCTIONS VARIABLES PLACEHOLDER ET EXTENSIONS*/
/*MIXINS*/
@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
footer {
  width: 100%;
  padding-left: 50px;
  background: #353535;
  color: white;
}
footer .Logo {
  display: flex;
  padding-top: 20px;
  margin-bottom: 15px;
  font-size: 30px;
  color: #fff;
}
footer .Category {
  padding-bottom: 30px;
}
footer a {
  font-size: 19px;
  color: #fff;
  margin-bottom: 20px;
}
footer p {
  padding-bottom: 9px;
}
footer i {
  padding-right: 15px;
}
@media screen and (min-width: 980px) {
  footer footer, footer p, footer a, footer .Logo {
    margin-left: 40%;
  }
}

/*PRAMETRE GENERAUX*/
/*Typographie*/
a {
  text-decoration: none;
  color: #000;
}

img {
  object-fit: cover;
}

.title {
  font-weight: bold;
}

p {
  font-family: "Roboto", Arial, Sans-serif;
}

h1, h2, .Logo {
  font-family: "Shrikhand", Arial, Sans-serif;
}

/*Bloc spécifiques button etc...*/
.search {
  display: flex;
  width: auto;
  margin: 10px auto;
  padding: 12px;
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0 #d9d9d9;
  background: linear-gradient(160deg, #FF79DA, #9356DC);
}
.search:hover {
  filter: brightness(95%);
  transform: scale(1.03);
}

/*HEADER*/
header {
  box-shadow: 0px 5px 5px 0 #818080;
  position: relative;
}

.Logo {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
.Logo i {
  position: absolute;
  top: 15px;
  left: 15%;
  font-size: 25px;
}

#location {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  font-weight: bold;
}
#location i {
  padding-right: 10px;
}

/*FIN HEADER*/
/*BODY*/
body {
  width: 100%;
  margin: 0 auto;
}

#bloc-page {
  max-width: 980px;
}
@media screen and (min-width: 981px) {
  #bloc-page {
    max-width: 100%;
  }
}

#title {
  height: 290px;
  text-align: center;
}
#title h1 {
  padding-top: 50px;
  margin-top: 15px;
}
#title p {
  margin-bottom: 40px;
}
@media screen and (min-width: 980px) {
  #title {
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
  }
  #title p {
    margin: 0 0 10px 0;
  }
}

nav {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
nav h2 {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 20px;
}
nav ul {
  margin: 0%;
  padding: 0%;
}
nav li {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  width: 90%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  list-style-type: none;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 4px #d9d9d9;
}
nav li:hover {
  background-color: #f5edff;
}
nav li span {
  position: absolute;
  left: -10px;
  width: 20px;
  border-radius: 50%;
  background: #9356DC;
  color: #fff;
}
nav li i {
  margin-right: 5%;
}
nav li .nav-i {
  width: 40%;
}
nav li .nav-i:hover {
  color: #9356DC;
}
@media screen and (min-width: 980px) {
  nav li nav {
    margin-top: 40px;
  }
  nav li nav h2 {
    font-size: 1.5em;
    justify-content: center;
  }
  nav li nav li {
    height: 40px;
  }
}

.menu-img-1 {
  background-image: url(../images/restaurants/Lapalettedugout.png);
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.menu-img-2 {
  background-image: url(../images/restaurants/Lanoteenchantée.png);
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.menu-img-3 {
  background-image: url(../images/restaurants/Alafrançaise.png);
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

.menu-img-4 {
  background-image: url(../images/restaurants/Ledélicedessens.png);
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
}

#Accueil {
  margin-bottom: 65px;
}
#Accueil h2 {
  padding-left: 20px;
}

#Menu-1,
#Menu-2,
#Menu-3,
#Menu-4 {
  position: relative;
  border-radius: 60px 60px 0 0;
  width: 100%;
  height: 100%;
  margin-top: -50px;
  background-color: #f6f6f6;
}

@media screen and (min-width: 980px) {
  .Column {
    display: flex;
    flex-direction: row;
  }
}
.Column .Tuiles {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px #d9d9d9;
  border-radius: 10px;
}
.Column .Tuiles__Description {
  position: relative;
  height: 75px;
  padding-left: 15px;
}
.Column .Tuiles--new::after {
  position: absolute;
  top: 13px;
  right: 13px;
  padding: 5px;
  background-color: #99E2D0;
  color: #0a8c6d;
  border-radius: 3px;
  content: "Nouveau";
}
.Column .Tuiles img {
  max-height: 175px;
  border-radius: 10px 10px 0 0;
}
.Column .Tuiles .title {
  margin: 15px 0 0.5em 0;
  font-weight: bold;
}
.Column .Tuiles .lieu {
  margin-top: 0.5em;
  font-weight: normal;
}
.Column .Tuiles #heart {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 1.8em;
}
.Column .Tuiles #heart:hover {
  background: #9356DC;
}
.Column .Tuiles #heart::before {
  position: relative;
  background: #9356DC;
  top: 30px;
  left: 0;
  z-index: 0;
  transition: all 0.5s;
  border-radius: 50% 50% 0 0;
}
.Column .Tuiles #heart:hover::before {
  top: 0;
  border-radius: 0;
}
@media screen and (min-width: 980px) {
  .Column .Tuiles {
    width: 40%;
  }
  .Column .Tuiles:hover {
    transition-duration: 0.5s;
    transform: scale(1.03);
  }
}

.title-heart {
  display: flex;
  position: relative;
  margin: 0 0 40px 5%;
  padding-top: 20px;
}
.title-heart #heart {
  position: absolute;
  right: 15%;
  top: 50px;
  font-size: 2em;
}
.title-heart h1 {
  font-size: 30px;
}

.Container-palette {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}
.Container-palette #Indicator {
  width: 40px;
  margin-bottom: 20px;
  border-bottom: 3px solid #99E2D0;
}
.Container-palette .Palette {
  display: flex;
  width: 90%;
  height: 70px;
  padding: 5px;
  position: relative;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 4px #d9d9d9;
}
.Container-palette .Palette__check:hover {
  display: flex;
  transform: translateX(-60px);
}
.Container-palette .Description-palette {
  padding-left: 13px;
}
.Container-palette .Description-palette .title {
  font-size: 1.15em;
  margin: 10px 0;
}
.Container-palette .Description-palette p.Description-price {
  margin-top: 15px;
}
.Container-palette .Description-palette .Description-price span {
  font-weight: bold;
  position: absolute;
  right: 3%;
  bottom: 10px;
}

/*FIN BODY*/

/*# sourceMappingURL=style.css.map */
