


/*HEADER*/
header {
    height:100px;}

#LogoOMF {
    height:50px;
    align-items: center;}
                                                                                /*FIN HEADER*/
                                                                                /*BODY*/
#bloc-page {
    max-width: 768px;}

#title {
    text-align: center;}
#search {
    height:40px;
    padding:0 20px 0 20px;
    background-color: rgb(182, 52, 182);
    color: white;
    border: none;
    border-radius: 20px;}

nav {
    text-align: center;}
li {
    align-items: center;
    list-style-type:none;}

#Tuiles {
    width: 90%;
    margin:auto;
    height:100px;
    box-shadow: 5px 3px 3px #d9d9d9;
    border-radius: 10px;
    border:1px color red;}
.title {
    font-weight: bold;}
.lieu {
    font-weight: normal;}
                                                                                /*FIN BODY*/

                                                                                /*SECTION*/


                                                                                /*FIN SECTION*/

                                                                                /*FOOTER*/
footer {
    width:100%;
    padding-left: 15px;
    background:#353535;
    color:white;}
                                                                                /*FIN FOOTER*/