// KEYFRAMES

//  ANIMATIONS LOADER 
@keyframes charging {
  0% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  80% {
    opacity: 0.75;
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  95% {
    opacity: 0.5;
    transform: translateX(-60%);
    -webkit-transform: translateX(-60%);
  }
  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

// ANIMATION HEART 
@keyframes heart {
  0% {
    color: $color-primary;
    transform: scale(0);
    -webkit-transform:scale(0);
  }
  33% {
    color: $color-primary;
    transform: scale(0.3);
    -webkit-transform:scale(0.3);
  }
  66% {
    color: $color-primary;
    transform: scale(0.7);
    -webkit-transform:scale(0.7);
  }
  100% {
    color: $color-primary;
    transform: scale(1);
    -webkit-transform:scale(1);
  }
}

// ANIMATIONS VERTICAL PALETTES 
@keyframes open-menu {
  0% {
    opacity: 0;
    transform: translateY(0.3);
    -webkit-transform: translateY(0.3);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

// ANIMATIONS ICONE-CHECK 
@keyframes pal-icon {
  0% {
    transform: translateX(160%) rotate(0);
    -webkit-transform: translateX(160%) rotate(0);
  }
  50% {
    transform: translateX(50%) rotate(180deg);
    -webkit-transform: translateX(50%) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
    -webkit-transform: translateX(0) rotate(360deg);
  }
}
