/*  ANIMATIONS LOADER */
@keyframes charging {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  85% {
    opacity: 0.6;
    transform: translateX(0);
  }
  95% {
    opacity: 0.4;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 0;
    transform: scale(0), translateX(100%);
  }
}
@-webkit-keyframes charging {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  85% {
    opacity: 0.6;
    -webkit-transform: translateX(0);
  }
  95% {
    opacity: 0.4;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0), translateX(100%);
  }
}

/* ANIMATION HEART */
@keyframes heart {
  0% {
    opacity: (0);
    color: $color-primary;
    transform: scale(0);
    -webkit-transform:scale(0);
  }
  33% {
    opacity: 0.5;
    color: $color-primary;
    transform: scale(0.3);
    -webkit-transform:scale(0.3);
  }
  50% {
    opacity: 0.7;
    color: $color-primary;
    transform: scale(0.4);
    -webkit-transform:scale(0.4);
  }
  66% {
    opacity: 0.9;
    color: $color-primary;
    transform: scale(0.7);
    -webkit-transform:scale(0.7);
  }
  100% {
    opacity: (1);
    color: $color-primary;
    transform: scale(1);
    -webkit-transform:scale(1);
  }
}

/* ANIMATIONS VERTICAL PALETTES */
@-webkit-keyframes open-menu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes open-menu {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ANIMATIONS ICONE-CHECK */
@keyframes pal-icon {
  0% {
    transform: translateX(0) rotate(0);
  }
  50% {
    transform: translateX(-50%) rotate(180deg);
  }
  100% {
    transform: translateX(-100%) rotate(360deg);
  }
}
@-webkit-keyframes pal-icon {
  0% {
    -webkit-transform: translateX(0) rotate(0);
  }
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(-100%) rotate(360deg);
  }
}
