/*FUNCTIONS VARIABLES PLACEHOLDER ET EXTENSIONS*/
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-four:#0a8c6d;
$color-initial:#000;
$color-accent:#fff;
$color-bg:#f6f6f6;
$color-hover:#f5edff;

$btn-mods: (
    active: (color-gradient,),
    middle: ($color-tertiary,),
    inactive: ($color-four,)
    );

$breakpoint:(
    desktop:980px);
