/* Page spécificity */ 

.menu-img-1 {
    background-image: url(../images/restaurants/Lapalettedugout.png);
    @include top-menu;
  }
  .menu-img-2 {
    background-image: url(../images/restaurants/Lanoteenchantée.png);
    @include top-menu;
  }
  .menu-img-3 {
    background-image: url(../images/restaurants/Alafrançaise.png);
    @include top-menu;
  }
  .menu-img-4 {
    background-image: url(../images/restaurants/Ledélicedessens.png);
    @include top-menu;
  }

#Accueil {
    background: $color-bg;
    padding-bottom: 40px;
    h2 {
      padding:20px 0 0 20px;
      @media screen and (min-width: 980px) {
        font-size: xx-large;
        padding:0 0 0 5%;
        margin-top: 0;
      }
    }
  }
  #Menu-1,
  #Menu-2,
  #Menu-3,
  #Menu-4 {
    position: relative;
    border-radius: 60px 60px 0 0;
    width: 100%;
    height: 100%;
    margin-top: -50px;
    background-color: $color-bg;
  }