
.Conteneur-desktop {
  @media screen and (min-width: 980px) {
    display: flex;
    padding-top: 50px;
  }
  #title {
    margin-top: 50px;
    height: 190px;
    text-align: center;
    h1 {
      margin: 0 0 25px 0;
    }
    p {
      margin: 0 0 40px 0;
    }
    @media screen and (min-width: 980px) {
      h1 {
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 40px;
      }
      flex-direction: column;
      margin-top: 0;
      width: 50%;
    }
  }
}
