
.Conteneur-desktop {
  @media screen and (min-width: 980px) {
    display: flex;
    padding-top: 50px;
    background-color: $color-bg;
  }
  #title {
    padding:30px 0 10px 0;
    height: 210px;
    text-align:center;
    background-color: $color-bg;
    h1 {
      margin: 0 0 20px 0;
    }
    p {
      margin: 0 0 20px 0;
    }
    @media screen and (min-width: 980px) {
      h1 {
        margin-bottom: 30px;
      }
      p {
        margin-bottom: 40px;
      }
      flex-direction: column;
      margin-top: 0;
      width: 50%;
      padding-top: 0;
    }
  }
}
