/*Bloc spécifiques button etc...*/

button.search {
    height:40px;
    margin-top: 35px;
    padding:0 30px;
    background:linear-gradient(130deg,$color-secondary,$color-primary);
    color: white;
    border: none;
    border-radius: 20px;}