/* Items */

// LOADER
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $color-primary;
  transform: scale(0);
  animation: charging 3s;
  z-index: 999;
}
.loader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #fff;
  padding: 0 100px;
  text-align: center;
}
.loader-inner span {
  font-size: 30px;
  opacity: 0;
  display: inline-block;
}

// LOGO
.Logo {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  i {
    position: absolute;
    top: 15px;
    left: 10%;
    font-size: 25px;
  }
}

// LOCATION
#location {
  display: flex;
  justify-content: center;
  background: #eaeaea;
  font-weight: bold;
  i {
    padding-right: 10px;
  }
}

// TITLE-MENU
.title-heart {
  display: flex;
  position: relative;
  margin: 0 0 40px 5%;
  padding-top: 20px;
  @media screen and (min-width: 980px) {
    & {
      margin: 0 3% 2% 40%;
      h1 {
        border-bottom: 2px solid black;
      }
    }
  }
  .heart {
    position: absolute;
    right: 5%;
    top: 30px;
    font-size: 2em;
  }
  h1 {
    font-size: 30px;
  }
}

// HEART
.heart {
  i:nth-child(1) {
    opacity: 1;
  }
  i:nth-child(2) {
    opacity: 0;
  }
  &:hover {
    color: $color-primary;
    i:nth-child(1) {
      opacity: 1;
    }
    i:nth-child(2) {
      opacity: 1;
      animation: heart 3s;
    }
  }
  &:active {
    i:nth-child(1) {
      opacity: 0;
    }
    i:nth-child(2) {
      opacity: 1;
      animation: none;
      color: $color-primary;
    }
  }
}
