/* LOADER */
.loader {
    position:fixed;
    height: 100%;
    width: 100%;
    background: $color-primary;
    transform: scale(0);
    animation:charging 4s;
    z-index: 999;
  }
  .loader-inner {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    width: calc(100% - 200px);
    color: #FFF;
    padding: 0 100px;
    text-align: center;
  }
  .loader-inner span {
    font-size: 30px;
    opacity: 0;
    display:inline-block;
  }
  
  .loader-inner span:nth-child(6) {
    -webkit-animation: charging 3s infinite ease-in-out;
    animation: charging 3s infinite ease-in-out;
  }
  .loader-inner span:nth-child(5) {
    -webkit-animation: charging 3s 100ms infinite ease-in-out;
    animation: charging 3s 100ms infinite ease-in-out;
  }
  .loader-inner span:nth-child(4) {
    -webkit-animation: charging 3s 200ms infinite ease-in-out;
    animation: charging 3s 200ms infinite ease-in-out;
  }
  .loader-inner span:nth-child(3) {
    -webkit-animation: charging 3s 300ms infinite ease-in-out;
    animation: charging 3s 300ms infinite ease-in-out;
  }
  .loader-inner span:nth-child(2) {
    -webkit-animation: charging 3s 400ms infinite ease-in-out;
    animation: charging 3s 400ms infinite ease-in-out;
  }
  .loader-inner span:nth-child(1) {
    -webkit-animation: charging 3s 500ms infinite ease-in-out;
    animation: charging 3s 500ms infinite ease-in-out;
  }

  /* PALETTES */
  .Palettte:nth-child(1) {
    -webkit-animation: open-menu 3s 200ms backwards ease-in-out;
    animation: open-menu 3s 200ms backwards ease-in-out;
  }
  .Palette:nth-child(2) {
    -webkit-animation: open-menu 3s 300ms backwards ease-in-out;
    animation: open-menu 3s 300ms backwards ease-in-out;
  }
  .Palette:nth-child(3) {
    -webkit-animation: open-menu 3s 400ms backwards ease-in-out;
    animation: open-menu 3s 400ms backwards ease-in-out;
  }
  .Palette:nth-child(4) {
    -webkit-animation: open-menu 3s 500ms backwards ease-in-out;
    animation: open-menu 3s 500ms backwards ease-in-out;
  }
