footer {
    width:100%;
    padding-left: 50px;
    background:#353535;
    color:white;
    .Logo {
    display:flex;
    padding-top:20px;
    margin-bottom:20px;
    font-size:x-large;
    color:$color-accent;}
    .Category {
        padding-bottom: 30px;}
    a {
        font-size:20px;
        color:$color-accent;
        margin-bottom: 20px;}
    p {
        padding-bottom: 9px;}
    i {
        padding-right:15px;}
    @media screen and (min-width: 980px) {
        footer,p,a,.Logo {
            margin-left: 40%;
        }
        }
}

p {
    margin:0%;
    padding:0%;}
