






a {                                                                 /*PRAMETRE GENERAUX*/   /*Typographie fond*/
    text-decoration: none;
    color:#000;}

img {
    object-fit: cover;}

.title {
    font-weight: bold;}