


                                                                                /*HEADER*/
#LogoOMF {
    text-align: center;
    width:50%;}
                                                                                /*FIN HEADER*/
                                                                                /*BODY*/
#bloc-page {
    max-width: 768px;}

li {
    align-items: center;
    list-style-type: none;}

.Tuiles {
    width: 90%;
    margin:auto;
    height:100px;
    border-radius: 10px;}
                                                                                /*FIN BODY*/

                                                                                /*PARAMETRE GENERAUX*/
a {
    text-decoration: none;
    color:#000;}
img {
    object-fit: cover;}

                                                                                /*FIN PARAMETRE GENERAUX*/

                                                                                /*SECTION*/


                                                                                /*FIN SECTION*/

                                                                                /*FOOTER*/
footer {
    background:black;
    color:white;}
                                                                                /*FIN FOOTER*/